#header{
	background: linear-gradient(180deg, #C54A4A 0%, rgba(206, 92, 92, 0) 100%);
	/*font-family: French Script MT;*/
	text-align: center;
	color: #680000;
	text-shadow: 5px 8px 6px rgba(0, 0, 0, 0.25);
}
body{
	background: #E5E5E5;
}
#main{
	margin-top: 30px;
	color: #F99601;
	font-family: Monotype Corsiva;
	font-style: italic;
	font-weight: normal;
}
.rectangle{
	background: rgba(255, 255, 255, 0.5);
	text-align: center;
}
.menu{
	text-align: left;
	font-size: 60px;
	line-height: 67px;
}
#info{
	margin-top: 30px;
	margin-bottom: 70px;
	font-size: 46.5px;
	line-height: 52px;
	text-align: center; 
	mix-blend-mode: darken;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.title{
	font-size: 60px;
	line-height: 67px;
}
.text{
	font-size: 40px;
	line-height: 45px;
	color: black;
}
.block{
	margin-bottom: 50px;
	margin-top: 50px;
}
#footer{
	margin-top: 100px;
	background: url(../img/folder.png) no-repeat;
	background-size: 100%;
	height: 516px;
	font-family: Heebo;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
	background-color:rgba(0,0,0,.8);

}
h3{
	text-align: center;
}
.ending{
	font-size: 40px;
}
.left_End{
	padding-left: 90px;
}
.head-end{
	padding-top: 35px;
}
.right_End{
	padding-bottom: 100px;
	padding-left: 70px;
}
#Table_menu{
	font-family: Heebo;
	font-style: normal;
	font-weight: 500px;
}
.have{
	text-align: center;
	font-weight: 500;
	font-size: 64px;
	line-height: 94px;
	color: #5B0707;
}
.line{
	margin-top: 50px;
}
.name{
	font-size: 28px;
	text-align: center;
	padding-top: 130px;
}
.note{
	font-size: 18px;
	text-align: center;
}
#last_note{
	margin-top: 140px;
	text-align: center;
	font-size: 30px;
}
#journal{
	margin-top: 30px;
	font-family: Heebo;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	text-align: center;
	color: #000000;
}
.docName{
	margin-top: 100px;
	margin-bottom: 30px;
}
#login{
	margin-top: 30px;
	font-family: Heebo;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	text-align: center;
	color: #000000;
}
.forms{
	margin-top: 30px;
}
.form_info{
	font-family: Monotype Corsiva;
	font-style: italic;
	font-weight: normal;
	font-size: 60px;
	color: #680000;
	letter-spacing: 0.05em;
	text-decoration-line: underline;
}
.log_input{
	background: #FFFFFF;
	border: 1px solid #000000;
	box-sizing: border-box;
	margin-left: 10px;
	width: 425px;
	height: 72px;
	margin-top: 40px;
	font-family: Times New Roman;
	font-style: italic;
	font-weight: normal;
	font-size: 45px;
	text-align: center;
	display: flex;
	align-items: center;
	letter-spacing: 0.05em;
	color: (0, 0, 0, 0.5);
}
.log_button{
	margin-top: 70px;
	margin-left: 10px;
	width: 425px;
	height: 72px;
	background: rgba(206, 102, 98, 0.63);
	border: 3px solid #5B0707;
	box-sizing: border-box;
	border-radius: 10px;
	font-family: Times New Roman;
	font-style: italic;
	font-weight: normal;
	font-size: 36px;
	align-items: center;
	text-align: center;
	margin-bottom: 54px;
}
.enter_button{
	margin-top: 185px;
}
.input{
	text-align: right;
	font-family: Heebo;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
}
#office{
	font-family: Times New Roman;
	font-weight: normal;
	text-align: center;
	margin-top: 30px;
}
.hello{
	font-style: italic;
	font-size: 45px;
	line-height: 52px;
	letter-spacing: 0.02em;
	color: #000000;
	margin-top: 45px;
}
#navigation{
	color: green;
	font-size: 36px;
	margin-top: 200px;
}
#crud{

}
.update-button{
	background: rgba(0,255,0,0.6);
	border: 3px;
	box-sizing: border-box;
	border-radius: 10px;

}
.delete-button{
	background: rgba(255,0,0,0.6);
	border: 3px;
	box-sizing: border-box;
	border-radius: 10px;
}
.add-button{
	background: rgba(255,111,0,0.9);
	border: 3px;
	box-sizing: border-box;
	border-radius: 10px;
}
.btn{
	background: rgba(10,10,150,0.5);
	border: 3px;
	box-sizing: border-box;
	border-radius: 10px;
}
#reports{
	
}